/*
Additional CSS rules to apply to all pages; these will be minified and
appended to epri-style.css when epri.init_page() is called.
*/
.EPRI_MD {
	color: black;
	text-align: center;
	font-weight: bold;
	font-family: 'Century Gothic', sans-serif;
}

/* For the page header */
#group {
	color: rgb(0, 51, 153);
	font-size: 2.5em;
}

#title {
	color: rgb(0, 51, 153);
	font-size: 3em;
}

/* For the sidebar icon */
#sidebar {
	font-size: 1.5em;
}

/* Remove the +/- buttons on the number inputs */
.step-up, .step-down {
	display: none;
}